<div class="job-offer">
  <app-job-offer-header></app-job-offer-header>
  <ng-container *ngIf="jobOffer$ | async; let jobOffer">
    <p class="job-offer-description">
      <app-text-preview [description]="jobOffer.offerDescription"></app-text-preview>
    </p>
    <div
      class="flex flex-direction-column flex-align-center">
      <button
        class="job-offer-action"
        mat-flat-button
        color="primary"
        [routerLink]="['/apply',jobOffer.id]">
        Aplikuj
      </button>
    </div>
  </ng-container>
</div>
