.job-offer-form {
  width: 100%;
}

.job-offer-form-group {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 50% 50%;
}

.aboutMe {
  width: 100%;
}
.job-offer-file{
  margin: 0 0 20px 0;
}
