@import url('src/utils');

.job-offer-container {
  margin: 40px;
}

.job-offer-form {
  width: 100%;
}

.job-offer-form-group {
  column-gap: 10px;
}

.job-offer-field {
  width: calc-width-with-gap(2, 10px);
}

.about-me {
  width: 100%;
}

.job-offer-file {
  margin: 0 0 20px;
}

.job-offer-apply {
  margin: 4px 0 24px;
  width: 250px;
}
